<h3>Edici&oacute;n Usuario</h3>
<p-dialog header="Usuario" [(visible)]="display">
  La usuario ha sido editada correctamente
  <p-footer>
    <button type="button" pButton icon="fa-check" (click)="cerrarDialogo()" label="Cerrar"></button>
  </p-footer>
</p-dialog>
<div class="ui-g">
  <div class="ui-g-8">
    <form class="form-horizontal">
    <!------------------------------------------------>



    <div class="form-group">
      <label for="nombre" class="col-sm-2 control-label">Nombre </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="nombre" placeholder="Nombre Usuario" required [(ngModel)]="usuario.nombre" name="nombre" #nombre="ngModel">
        <div [hidden]="nombre.valid || nombre.pristine " class="invalid-feedback alert alert-danger">
            El campo nombre no puede estar vacio
        </div>
      </div>
    </div>






    <div class="form-group">
      <label for="apellidos" class="col-sm-2 control-label">Apellidos </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="apellidos" placeholder="Apellidos Usuario" required [(ngModel)]="usuario.apellidos" name="apellidos" #apellidos="ngModel">
        <div [hidden]="apellidos.valid || apellidos.pristine " class="invalid-feedback alert alert-danger">
            El campo apellidos no puede estar vacio
        </div>
      </div>
    </div>






    <div class="form-group">
      <label for="identificacion" class="col-sm-2 control-label">Identificacion </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="identificacion" placeholder="Identificacion Usuario" required [(ngModel)]="usuario.identificacion" name="identificacion" #identificacion="ngModel">
        <div [hidden]="identificacion.valid || identificacion.pristine " class="invalid-feedback alert alert-danger">
            El campo identificacion no puede estar vacio
        </div>
      </div>
    </div>






    <div class="form-group">
      <label for="roles" class="col-sm-2 control-label">Roles </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="roles" placeholder="Roles Usuario" required [(ngModel)]="usuario.roles" name="roles" #roles="ngModel">
        <div [hidden]="roles.valid || roles.pristine " class="invalid-feedback alert alert-danger">
            El campo roles no puede estar vacio
        </div>
      </div>
    </div>






    <div class="form-group">
      <label for="contrasena" class="col-sm-2 control-label">Contrasena </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="contrasena" placeholder="Contrasena Usuario" required [(ngModel)]="usuario.contrasena" name="contrasena" #contrasena="ngModel">
        <div [hidden]="contrasena.valid || contrasena.pristine " class="invalid-feedback alert alert-danger">
            El campo contrasena no puede estar vacio
        </div>
      </div>
    </div>




    <!------------------------------------------------>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-default" (click)="actualizar(usuario)">Actualizar</button>
          <button type="submit" class="btn btn-default" (click)="regresar()">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>