<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <p class="navbar-text navbar-left">Welcome</p>
        <li><a href="#">Inicio</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">Entidades<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
              <li><a routerLink="/proceso">Proceso</a></li>
              <li><a routerLink="/eleccion">Eleccion</a></li>
              <li><a routerLink="/tarjeton">Tarjeton</a></li>
              <li><a routerLink="/configuracion">Configuracion</a></li>
              <li><a routerLink="/candidato">Candidato</a></li>
              <li><a routerLink="/votante">Votante</a></li>
              <li><a routerLink="/sufragante">Sufragante</a></li>
              <li><a routerLink="/evento">Evento</a></li>
              <li><a routerLink="/usuario">Usuario</a></li>
              <li><a routerLink="/historia">Historia</a></li>
              <li><a routerLink="/rol">Rol</a></li>
              <li><a routerLink="/variable">Variable</a></li>
              <li><a routerLink="/ponderacion">Ponderacion</a></li>
              <li><a routerLink="/partido">Partido</a></li>
              <li><a routerLink="/estamento">Estamento</a></li>
              <li><a routerLink="/voto">Voto</a></li>
              <li><a routerLink="/certificado">Certificado</a></li>
          </ul>
        </li>

      </ul>
      <ul>
        <p class="navbar-text navbar-right"><a href="#" class="navbar-link">Salir</a></p>
        <p class="navbar-text navbar-right">Usuario: <a href="#" class="navbar-link">User</a></p>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>